<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Magic-Strings-Test">
	<test name="Magic-Strings-Test" >
		<!--
		This exclusion is ignored if -excludegroups is passed on command line 
	  	<groups>
    		<run>
      			<exclude name="slow" />
	    	</run>
  		</groups>
  		 -->
  		<packages>
 			<package name="org.magicwerk.strings.*" />
   		</packages>   	   		 
	</test>
</suite>
